{% extends "website/base.html" %}

{% block content %}
        <div class="productcontent">    
    <h1>OUR EXECUTIVE LEADERSHIP TEAM</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s1.jpg" alt="product image">
            </div>
            <div class="itemname">FAZAL</div>
            <div class="itemprice">(C.E.O)</div>
        </div>
        <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s3.jpg" alt="product image">
            </div>
            <div class="itemname">MARTIN</div>
            <div class="itemprice">(SENIOR VICE PRESIDENT)</div>
        </div>
         <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s5.jpg" alt="product image">
            </div>
            <div class="itemname">JONATHAN IVE</div>
            <div class="itemprice">(CHEIF DESIGNER OFFICER)</div>
        </div>
         <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s6.jpg" alt="product image">
            </div>
            <div class="itemname">JEFF WILLIAMS</div>
            <div class="itemprice">(CHEIF OPERATING OFFICER)</div>
        </div>
         <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s7.jpg" alt="product image">
            </div>
            <div class="itemname">DAVID</div>
            <div class="itemprice">(VICE PRESIDENT MARKETING)</div>
        </div>
         <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/s8.jpg" alt="product image">
            </div>
            <div class="itemname">DAN</div>
            <div class="itemprice">(VICE PRESIDENT HARDWARE TECHNOLOGY)</div>
        </div>
    {% endblock  %}