{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>OUR EXECUTIVE LEADERSHIP TEAM</h1></div>
    <div class="peoplelists">
        <div class="peoplelist">
            <div class="peopleimage">
                <img src="/static/img/s1.jpg" alt="people image" width="300" height="300">
            </div>
            <div class="peoplename">
                <h2>FAZAL</h2>
            </div>
            <div class="peoplepost">
                <h3>(C.E.O)</h3></div>
        </div>
            <div class="peoplelist">
                <div class="itemimage">
                    <img src="/static/img/s3.jpg" alt="people image" width="300" height="300">
                </div>
                <div class="peoplename">
                    <h2>Martin</h2>
                </div>
                <div class="peoplepost">
                    <h3>(SENIOR VICE PRESIDENT)</h3>
                </div>
            </div>
                <div class="peoplelist">
                    <div class="itemimage">
                        <img src="/static/img/s5.jpg" alt="product image" width="300" height="300">
                    </div>
                    <div class="peoplename">
                        <h2>JONATHAN IVE</h2>
                    </div>
                    <div class="peoplepost">
                        <h3>(CHEIF DESIGNER OFFICER)</h3>
                    </div>
                </div>
                    <div class="peoplelist">
                        <div class="itemimage">
                            <img src="/static/img/s6.jpg" alt="product image" width="300" height="300">
                        </div>
                        <div class="itemname">
                            <h2>JEFF WILLIAMS</h2>
                        </div>
                        <div class="itemprice">
                            <h3>(CHEIF OPERATING OFFICER)</h3>
                        </div>
                    </div>
                        <div class="peoplelist">
                            <div class="itemimage">
                                <img src="/static/img/s7.jpg" alt="product image" width="300" height="300">
                            </div>
                            <div class="peoplename">
                                <h2>DAVID</h2>
                            </div>
                            <div class="peoplepost">
                                <h3>(VICE PRESIDENT MARKETING)</h3>
                            </div>
                        </div>
                            <div class="peoplelist">
                                <div class="itemimage">
                                    <img src="/static/img/s8.jpg" alt="product image" width="300" height="300">
                                </div>
                                <div class="itemname">
                                    <h2>DAN</h2>
                                </div>
                                <div class="itemprice">
                                    <h3>(VICE PRESIDENT HARDWARE TECHNOLOGY)</h3>
                                </div>
                                </div>
                            </div>
                            {% endblock  %}