{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/c2.jpg" alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/amegon.jpg" alt="product image">
            </div>
            <div class="itemname">AMEGON 4GB DDR3</div>
            <div class="itemprice">Price: Rs.1500.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/i3processor.jpg" alt="product image">
            </div>
            <div class="itemname">Intel Core i3-9100F 9th Gen</div>
            <div class="itemprice">Price: Rs.7000.00</div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/kingstonssd.jpg" alt="product image">
            </div>
            <div class="itemname">Kingston SSDNow A400 240GB</div>
            <div class="itemprice">Price: Rs.2700.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/Crucial.jpg" alt="product image">
            </div>
            <div class="itemname">Crucial BX500 480GB 3D NAND SATA 2.5-inch SSD</div>
            <div class="itemprice">Price: Rs.4300.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/corsair.jpg" alt="product image">
            </div>
            <div class="itemname">Corsair CV650</div>
            <div class="itemprice">Price: Rs.5500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/corsairRM.jpg" alt="product image">
            </div>
            <div class="itemname">Corsair RM650</div>
            <div class="itemprice">Price: Rs.10500.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/antec.jpg" alt="product image">
            </div>
            <div class="itemname">Antec NeoEco 650M</div>
            <div class="itemprice">Price: Rs.4600.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/Dlink.jpg" alt="product image">
            </div>
            <div class="itemname">D-Link DSL-2730U Wireless-N 150 ADSL2+ 4-Port Router</div>
            <div class="itemprice">Price: Rs.1000.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/Tplink.jpg" alt="product image">
            </div>
            <div class="itemname">TP-LINK TD-W8961N Wireless</div>
            <div class="itemprice">Price: Rs.1200.00 </div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <img src="/static/img/tplinkac1300.jpg" alt="product image">
            </div>
            <div class="itemname"> TP-Link Archer T3U AC1300 Mini Wireless MU-MIMO USB Adapter</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
    </div>
</div>
{% endblock  %}